*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

div{
    width: 100%;
    margin: 0, auto;
}

