
        <div class="mainHeaderContainer">
            <div> <h3 class="main-header">Selección Colombia contempla un cambio extremo contra Marruecos <br> Posibles novedades del equipo para enfrentar su tercer partido del Mundial.
              Posibles novedades del equipo para enfrentar su tercer partido del Mundial.</h3> </div>

        <img src="../../../assets/mainNew.jpeg" alt="image">
        
        </div>
    
      
        <hr>
                  <div class="bottom-container">
            <a  href="https://www.eltiempo.com/cultura/gente/angus-cloud-el-triste-comunicado-con-el-que-la-familia-despide-al-actor-de-euphoria-791685" target="_blank" class="bottom-news">Angus Cloud: el triste comunicado con el que la familia despide al actor de 'Euphoria'.</a> <img src= "../../../assets/Angus-Cloud-image.jpeg" alt="image">
            <a href="https://www.eltiempo.com/politica/gobierno/pasaporte-colombia-que-va-a-pasar-con-emision-del-documento-tras-pausa-de-licitacion-792235" class="bottom-news">¿Qué va a pasar con emisión de pasaportes tras pausa de licitación?<br>La Cancillería tuvo que suspender el proceso tras una acción popular de uno de los licitantes. </a> <img src="../../../assets/passports-new.jpeg" alt="image">
            <a href= "https://www.eltiempo.com/mundo/eeuu-y-canada/donald-trump-por-que-puede-seguir-en-campana-en-estados-unidos-incluso-condenado-792256"  class="bottom-news">¿Por qué Donald Trump puede seguir en campaña presidencial, incluso si es condenado?</a><img src="../../../assets/trump-new.jpeg" alt="image">
          </div>
