
.mainHeaderContainer{
    display: flex;
margin: 0 auto;
padding: 0 250px;
height: 350px;
    align-items: center;
    justify-content: space-around;
}

.main-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 250px;
    text-align: inherit;
    padding: 0 15px;
    font-weight: bolder;
text-decoration: none;
}

.mainHeaderContainer img{
    display: flex;
    width: 450px;
    border-radius: 10px;
}


.bottom-container{
display: flex;
margin: 0 auto;
width: auto;
padding: 0 65px;
align-items: center;

}

.bottom-news{
  word-wrap: break-word;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 0px 10px;
  color: rgba(0, 0, 0, 0.66);
  line-height: 12px;
}
