 <header>
    <div class="dailyTopics-Container">
       <p class="daily-topics-title">
        TEMAS DEL DÍA
       </p>
       <div class="Topicslinks-Container">
        <div class="dailyTopics-links">
            <a class="page-link" href="https://www.eltiempo.com/justicia/deatos/nicolas-petro-y-day-vasquez-nueva-audiencia-de-legaazacion-de-captura-791168" target="_blank">
            AUDIENCIA NICOLÁS PETRO Y DAY VASQUEZ </a>
            <a class="page-link" href="https://www.eltiempo.com/podcast/contraataque/en-contraataque-anaasis-de-colombia-alemania-en-mundial-de-futbol-femenino-791240" target="_blank">
            SELECCIÓN COLOMBIA FEMENINA </a>
            <a class="page-link" href="https://www.eltiempo.com/poatica/gustavo-petro-encuesta-revela-favorabiadad-y-polarizacion-en-colombia-791129" target="_blank">
            OVACIÓN A JAMES EN SAO PAULO
            </a>
            <a class="page-link" href="https://www.eltiempo.com/deportes/otros-deportes/media-maraton-de-bogota-asta-de-ganadores-y-tiempos-de-la-carrera-791242" target="_blank">
            GANADORES MEDIA MARATON BOGOTÁ
            </a>
            <a class="page-link" href="https://www.eltiempo.com/colombia/medelan/antioquia-un-bus-que-se-fue-al-abismo-en-via-terciaria-dejo-10-personas-heridas-791241" target="_blank">
            ACCIDENTE EN ANTIOQUÍA
            </a>
            <a class="page-link" href="https://www.eltiempo.com/cultura/gente/con-shakira-de-fondo-y-pique-presente-manuel-turizo-canto-copa-vacia-en-la-kings-league-791205" target="_blank">
            MANUEL TURIZO
            </a>
            </div>
    </div>
    </div>

    <div class="navContainer">
        <div class="top-bar-container">
              
                        <span class="searchButtonContainer"><img src="../../../assets/magnifier.png" alt="">
                         </span>
                         <div>
                         <strong class="sectionsButtonContainer">
                             <span class="sectionsBtn-text">secciones</span>
                             <img src="../../../assets/burguerMenu.png" alt="">
                         </strong>
                         </div>
                 
                 
        </div>
        <div class="logo-container">
                <h1> THE NEWS</h1>
           </div>
<div class="right-side-options-container ">
        <strong class="login-btn"> <img src="../../../assets/account_avatar_people_profile_user_icon_123297.png" alt="">- <span>iniciar sesion</span></strong>
        <br>
        <strong class="fav-news-btn"><img src="../../../assets/star_77949.png" alt=""> <span>mis noticias</span></strong>
</div>
           </div>

<div class="sectionsContainer">
        <a class="sections-links">Opinión</a>
        <a class="sections-links">colombia</a>
        <a class="sections-links">bogotá</a>
        <a class="sections-links">internacional</a>
        <a class="sections-links">política</a>
        <a class="sections-links">justicia</a>
        <a class="sections-links">economía</a>
        <a class="sections-links">deportes</a>
        <a class="sections-links">cultura</a>
        <a class="sections-links">tecnologia</a>
        <a class="sections-links">vida</a>
        <a class="sections-links" >unidad Investigativa</a>
        <a class="sections-links">salud</a>
        
        
</div>
</header>